@import "../../Utils/Sass/Variables";

.tags {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    &__items {
        background-color: $primary-color;
        color: white;
        padding: 3px 35px;
        height: 25px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}