@keyframes fall {
    0% {
        transform: translateY(-100px);
        transform-origin: top;
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        transform: translateY(-10px);
        transform-origin: top;
        opacity: 1;
    }
}


