@import "../../Utils/Sass/Mixins";
@import "../../Utils/Sass/Variables";
@import "../../Utils/Sass/Animations";

.accordion {
  .title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: $primary-color;
    color: $white;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    width: 85%;
    margin: auto;
    @media screen and (max-width: 767px) {
      font-size: 13px;
    }
  }
  .content {
    background-color: $grey;
    color: $primary-color;
    border-radius: 0px 0px 10px 10px;
    font-size: 20px;
    padding: 0 20px;
    overflow: hidden;
    transition: transform 0.4s ease-in-out;
    transform: translateY(-40px);
    width: 85%;
    margin: auto;
    position: relative;
    z-index: -1;
    height: 0;
  }
  .show {
    height: 100%;
    padding: 30px 20px 20px 20px;
    transform: translateY(-10px);
  }
  .items {
    margin-bottom: 30px;
  }
}

.housing__descripequip {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  @media screen and (max-width: 767px) {
    display: block;
    
  }
  .items {
    width: 45%;
    @media screen and (max-width: 767px) {
      width: 95%;
      margin-bottom: 20px;
    }
    .title {
      @include center-element;
      justify-content: space-between;
      border-radius: 10px;
      background-color: $primary-color;
      color: $white;
      font-size: 18px;
      cursor: pointer;
      padding: 10px 20px 10px 20px;
      position: relative;
      z-index: 2;
      @media screen and (max-width: 767px) {
        font-size: 14px;
        border-radius: 5px;
      }
    }
    .content {
      background-color: $grey;
      color: $primary-color;
      border-radius: 0px 0px 10px 10px;
      font-size: 20px;
      padding: 0 20px;
      overflow: hidden;
      transition: transform 0.4s ease-in-out;
      transform: translateY(-40px);
      position: relative;
      z-index: -1;
      max-height: 0;
      @media screen and (max-width: 767px) {
        font-size: 14px;
      }
    }
    .show {
      padding: 30px 20px 20px 20px;
      max-height: max-content;
      transform: translateY(-10px);
    }
  }
}

.fa-chevron-up {
  transition: transform 0.4s ease-in-out;
}

.rotate {
  transform: rotate(-180deg);
}
