@import "../../Utils/Sass/Variables";

.ErrorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 139px;
  color: $primary-color;
  margin: 30px;
}

.ErrorTitle {
  font-weight: 500;
  font-size: 36px;
}



.ErrorSubTitle {
  font-size: 18px;
  color: $primary-color;
  text-decoration: underline;
  margin-bottom: 50px;
}

